
<div class="divBeers">
    
    <img src=" {{this.image_url}}" alt="{{this.name}}">
   <a href="/onebeer/{{id}}"> <p>{{this.name}}</p></a>
    <p id="tagline">{{this.tagline}}</p>
    <p id="description">{{this.description}}</p>
</div>
